<div class="topbar">
    
  
  
      <div class="page_title">
        <% if (context.page) { %>
          Admin --</i> <%= context.page %> 
          
          <% } else { %>
            
            Admin
        <% } %>
         
      </div>

      
      <div class="image">
        <a href="">

          <% if (context.admin) { %>
           
            <img src="/images/<%= context.admin.profile %>" alt="" />
            
            <% } else { %>
            <img src="/images/profile3.png" alt="" />
             
          <% } %>
        </a>
           
      </div>

    </div>