<div class="profile-panel card" id="profilePanel">
  <ul>
    <!-- <li>
      <a href="#">
        <span class="icon"></span>
        <span class="title">Lytcode</span>
      </a>
    </li> -->

    <li>
      <a href="/">
        <span class="icon">
          <!-- <i class="fa-solid fa-user"></i> -->
          <i class="bi bi-person-circle"></i>

        </span>
        <span class="title">  context.admin.fullName %> </span>
      </a>
    </li>

   
    <li>
      <a href="change-profile-image">
        <span class="icon">
          <i class="fa-solid fa-image"></i>
        </span>
        <span class="title">profile image</span>
      </a>
    </li>
    <li>
      <a href="change-password">
        <span class="icon">
          <i class="fa-solid fa-lock"></i>
        </span>
        <span class="title">change password</span>
      </a>
    </li>
   
    <li>
      <a href="/auth/user-logout">
        <span class="icon">
          <i class="fa-solid fa-right-from-bracket"></i>
        </span>
        <span class="title">Logout</span>
      </a>
    </li>
  </ul>
</div>