<div class="footbar">
      <div class="menu-container">
          <div class="menu">
            <ul>
              <!-- <li>
                <a href="#">
                  <span class="icon"></span>
                  <span class="title">Lytcode</span>
                </a>
              </li> -->
          
              <li>
                <a href="/">
                  <span class="icon">
                    <i class="fa-solid fa-house"></i>
                  </span>
                  <span class="title">home</span>
                </a>
              </li>
              <li>
                <a href="deposite">
                  <span class="icon">
                    
                    <i class="fa-solid fa-building-columns"></i>
                  </span>
                  <span class="title">deposite</span>
                </a>
              </li>
              <li>
                <a href="withdraw">
                  <span class="icon">
                    <i class="fa-solid fa-money-check-dollar"></i>
                  </span>
                  <span class="title">withdraw</span>
                </a>
              </li>
          
              <li>
                <a href="transactions">
                  <span class="icon">
                    <i class="fa-solid fa-book"></i>
                  </span>
                  <span class="title">transactions</span>
                </a>
              </li>
              
              <li>
                <a href="referral">
                  <span class="icon">
                    <i class="fa-solid fa-network-wired"></i>
                  </span>
                  <span class="title">referral</span>
                </a>
              </li>
              
              
             
              <!-- <li>
                <a href="/auth/user-logout">
                  <span class="icon">
                    <i class="fa-solid fa-right-from-bracket"></i>
                  </span>
                  <span class="title">Logout</span>
                </a>
              </li> -->
            </ul>
          </div>
        </div>
      </div>