<section class="footer">
      <div class="container text-cente">
        <div class="row">
          <div class="col-3">
            <h1>Useful Links</h1>
            <p>Privacy Policy</p>
            <p>Terms of Use</p>
            <p>Return Policy</p>
            <p>Discount Coupons</p>
          </div>
          <div class="col-3">
            <h1>Company</h1>
            <p>About Us</p>
            <p>Contact Us</p>
            <p>Career</p>
            <p>Affiliate</p>
          </div>
          <div class="col-3">
            <h1>Follow Us On</h1>
            <p><i class="bx bxl-facebook-square"></i>Facebook</p>
            <p><i class="bx bxl-youtube"></i>YouTube</p>
            <p><i class="bx bxl-twitter"></i>Twitter</p>
            <p><i class="bx bxl-linkedin-square"></i>Linkedln</p>
          </div>
          <div class="col-3 footer-image">
            <h1>Download App</h1>
            <img src="/images/app-logo.jpeg" alt="" />
          </div>
        </div>
        <hr />
        <p class="copyright">Ifeanyinwuzor 2024<i class="bx bx-heart"></i></p>
      </div>
    </section>