<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>C-Ticket</title>
    <!-- ============= Bootstrap Link ================ -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />

    <!-- =========== Boxicon Link ===================== -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- ================Fontawesome==================== -->
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

    <link rel="stylesheet" href="/aos/aos.css" />

    <!-- =============== External Stylesheet =========== -->
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <div class="main-container">
      <% var context %>
      <!-- =================================== topbar ==================================== -->
      <%- include('../snippets/topbar.ejs') %>

      <div class="about">
            <div class="head">about c-ticket</div>
            <div class="text">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque sit aut tempore dolorum aliquid consequuntur, quasi voluptatibus quisquam assumenda, nam dignissimos sequi delectus. In vel, aliquam voluptate eos laborum saepe ad! Optio corporis explicabo ad nemo nisi. Sapiente deserunt nemo ratione corrupti magni ipsum nihil sit magnam itaque, et iure quis nulla minus rerum. Ducimus, quam voluptatem maxime eligendi delectus assumenda voluptates aut animi nostrum commodi error ut necessitatibus, provident neque repellendus consequuntur corporis sed. Sint ipsa illo vero sequi molestiae libero harum temporibus non eum at, perspiciatis dolorem enim? Rem, veniam. Porro id cumque fugit beatae, vitae laudantium nemo ducimus eaque nam perspiciatis labore corporis dolores illo alias in vero quasi, rem sed aliquid saepe minus, laborum facere fugiat? Deserunt pariatur cumque quos soluta fuga consequuntur autem et voluptates praesentium sapiente! Asperiores perspiciatis ratione earum consequatur perferendis beatae recusandae aperiam qui atque nisi. Id ea ullam ex similique quod qui sapiente voluptatem facilis ipsam, ab earum voluptas aut veniam sequi, asperiores iure dignissimos ut eum eveniet repudiandae suscipit magni illum aspernatur. Suscipit accusantium eum ut quibusdam et eos aliquid voluptates maxime? Nam non, obcaecati suscipit illo, nostrum sit impedit voluptates quo maiores tenetur quas tempore itaque. Aut, dignissimos at.
            </div>
      </div>

      

      
    </div>

    <!-- ===================Footer======================= -->
    <%- include('../snippets/pageFootbar.ejs') %>

    <script src="/aos/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

    <script>
      AOS.init();
    </script>
  </body>
</html>
