<!-- 25-03-2025 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fraudShield</title>
    <!-- ============= Bootstrap Link ================ -->
    <!-- <link rel="stylesheet" href="/bulma/css/bulma.min.css"> -->

    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />

    <!-- =========== Boxicon Link ===================== -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />

    <!-- ================Fontawesome==================== -->
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <link rel="stylesheet" href="/aos/aos.css" />

    <!-- =============== External Stylesheet =========== -->
    <link rel="stylesheet" href="/css/home.css" />
  </head>
  <body>
    <section class="main_container">

       <nav class="topbar">
          <div class="logo">fraudShield</div>

          <div class="menu">
            <a href="/login"><button>Get Started</button></a>
            <a href="/login"><button>Account</button></a>
          </div>
        </nav>

      <section class="home_container">
       

        <div class="text_container">
          <p><em>Security</em> & Trust Focus</p>
          <p>Your money’s <em>safety</em>, our top priority.</p>
          <p>Real-time fraud detection powered by smart <em>technology</em>.</p>
          <span>
Our Bank Fraud Detection System is designed 
to safeguard your finances with real-time monitoring, 
instant alerts, and intelligent rule-based detection. 
We ensure every transaction is secure, every login is verified, 
and every suspicious activity is stopped before it causes harm—keeping 
your money and trust protected at all times.
          </span>


           <div class="btns">
            <a href=""><button>Get Started</button></a>
            <a href=""><button>Account</button></a>
          </div>

        </div>

        <div class="image_container">
          <img src="/images/image_14.jpeg" alt="">
        </div>
      </section>

      <section class="features_container">

        <!-- 1 -->
        <div class="feature">
          <div class="text">
            <p>Secure User Authentication and Access Control</p> 
            <span>
This feature ensures that only authorized users can 
access the banking system. It uses a secure login system 
with username, password, and optional two-factor authentication. 
Role-based access restricts sensitive operations to admins only, 
minimizing the risk of internal fraud or unauthorized access to user accounts or financial data.

            </span>           

          </div>

          <div class="image">
              <img src="/images/image_10.jpeg" alt="">
          </div>
        </div>


        <!-- 2 -->
        <div class="feature">
           <div class="image">
              <img src="/images/image_13.jpeg" alt="">
          </div>
          <div class="text">
            <p>Real-time Transaction Monitoring</p> 
            <span>
Every transaction is monitored as it happens. 
The system analyzes key parameters like amount, 
frequency, time, and recipient details. Suspicious 
patterns trigger alerts instantly. Real-time monitoring 
enables early detection of fraudulent behavior and reduces 
the chances of financial loss by taking immediate action before 
the transaction is completed.


            </span>           

          </div>

         
        </div>


        <!-- 3 -->
        <div class="feature">
          <div class="text">
            <p>Rule-Based Fraud Detection System</p> 
            <span>
A set of predefined rules are used to identify potentially fraudulent activities. 
These rules include transaction thresholds, unusual login times, multiple rapid 
transfers, and known blacklisted accounts. This logic-driven approach ensures that 
fraud detection is systematic, consistent, and doesn't rely on advanced machine 
learning or massive datasets to function.
            </span>           

          </div>

          <div class="image">
              <img src="/images/image_8.jpeg" alt="">
          </div>
        </div>


        <!-- 4 -->
        <div class="feature">
          <div class="image">
              <img src="/images/image_15.jpeg" alt="">
          </div>
          <div class="text">
            <p>Admin Dashboard for Managing Alerts and Reports</p> 
            <span>
The dashboard allows admins to view, manage, and respond to flagged 
transactions. It includes visual summaries, charts, and detailed logs. 
Admins can mark transactions as safe, decline them, or freeze suspicious accounts. 
This central management console improves transparency, speed of decision-making, and 
accountability in handling financial threats.

            </span>           

          </div>

          
        </div>


        <div class="feature">
          <div class="text">
            <p>Detailed Log of All Transactions and Alerts</p> 
            <span>
Every action taken on the platform is recorded with timestamps. 
This includes transactions, logins, alerts, and admin decisions. 
These logs provide a comprehensive audit trail, helping banks analyze 
user behavior, investigate security incidents, and remain compliant with 
regulatory requirements related to fraud and financial monitoring.

            </span>           

          </div>

          <div class="image">
              <img src="/images/image_5.jpeg" alt="">
          </div>
        </div>
      </section>



      <section class="footer-container">
            <div class="write-up">
                  <div class="logo">fraudShield</div>
            
                  <p>Highlights protection from fraudulent activities. Suggests constant safeguarding of customer trust. Simple, professional, and trust-focused.</p>
            
                  <div class="social">
                        <a href="">
                              <div class="icon"><i class="fa-brands fa-facebook-f"></i></div>
                        </a>

                        <a href="">
                              <div class="icon"><i class="fa-brands fa-x-twitter"></i></div>
                        </a>

                        <a href="">
                              <div class="icon"><i class="fa-brands fa-instagram"></i></div>
                        </a>

                        <a href="">
                              <div class="icon"><i class="fa-brands fa-linkedin"></i></div>
                        </a>
                  </div>
            </div>
            
            <div class="footer-section">
                  <div class="footer">
                        <div class="subject">Links</div>
                        <div class="items">home</div>
                        <div class="items">about us</div>
                        <div class="items">our process</div>
                        <div class="items">services</div>
            
                  </div>
                  <div class="footer">
                        <div class="subject">community</div>
                        <div class="items">on premium</div>
                        <div class="items">team plan</div>
                        <div class="items">refer Friends</div>
                        <div class="items">gift card</div>
            
                  </div>
                  <div class="footer">
                        <div class="subject">resources</div>
                        <div class="items">support</div>
                        <div class="items">latest update</div>
                        <div class="items">update Newletter</div>
                        <div class="items">flow management</div>
            
                  </div>
            </div>
            </section>
            <section>
            <div class="copyright">
                  Copyright fraudShield 2025, Alright Reserved.
            </section>
    </section>

    <script src="/aos/aos.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script> -->
    <script src="./bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
